<div class="header">
  <h1 id="head-title">JPBET</h1>
  <h4 id="sub-title">opening soon...</h4>
  <div class="mailing">
    <form action="">
      <input type="text" placeholder="you@mail.com">
      <input type="submit" value="SUBMIT">
    </form>
  </div>
</div>

<footer>
 <a href="https://github.com/flrnt" target="_blank">FLRNT</a>
</footer>
