/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
  height: 100%;
}
.header {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 100%;
}

#head-title, #sub-title {
  font-family: sans-serif;
  line-height: 40px;
  text-transform: uppercase;
  color: rgba(251, 196, 27, 0.86);
}

#head-title {
  font-weight: bold;
  font-size: 130px;
  margin-left: -14px;
  letter-spacing: 12px;
}

#sub-title {
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 11px;
}
.mailing {

  width: 350px;
}
form {
  display: flex;
  justify-content: space-around;
}
input[type="text"] {
  flex-grow: 1;
  margin-right: 5px;
  background-color: transparent;
  color: rgba(251, 196, 27, 0.4);
  border: 2px solid rgba(251, 196, 27, 0.4);
  outline:none;
  padding: 5px;
}
input[type="submit"] {
  padding: 5px 10px;
  background-color: transparent;
  color: rgba(251, 196, 27, 0.4);
  border: 2px solid rgba(251, 196, 27, 0.4);
}
input[type="submit"]:hover {
  color: rgba(251, 196, 27, 0.86);
  border: 2px solid rgba(251, 196, 27, 0.86);
}

footer a {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 10px;
  color: #404244;
  opacity: 0.25;
}
footer a:hover {
  text-decoration: none;
  color:grey;
}
